<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center">Notes++</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-menu side="start" menuId="first" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list>
        <ion-item href="">
          <ion-label>Notes</ion-label>
          <ion-badge slot="end" color="danger">22</ion-badge>
        </ion-item>
        <ion-item href="">
          <ion-label>Reminders</ion-label>
          <ion-badge slot="end" color="danger">5</ion-badge>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button>
            <ion-icon name="pencil"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="alarm"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="cloudy-night"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
  </ion-fab>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome to Notes++</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card-subtitle>
          Here is your daily Weather forecast:
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-router-outlet id="main"></ion-router-outlet>